

.Principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.PrincipalImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    width: 100%;
    position: relative;
}

.buttonVer{
    position: absolute;
    top: 36%;
    left: 68%;
}

.buttonVer a{
    background-color: #131632;
    color: #fff;
    padding: 8px 25px 8px 25px;
    border: 4px solid #000;
    border-radius: 20px;
}

.PrincipalSearch{
    position: relative;
}

.searchInput input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 10%;
    padding-left: 5%;
}

.searchSelect{
    position: absolute;
    top: 0%;
    left: 102%;
    border: none;
    cursor: pointer;
    color: transparent;
    width: 30px;
    height: 30px;
}

.searchSelect select{
    border-radius: 20px;
    padding: 2px 0px 2px 10px;    
    background-color: #131632;
    color: #fff;
}

.selectCont option{
    background-color: #131632;
    color: #fff;
}

.Principal input::-webkit-input-placeholder {
    text-align: left;
    padding-left: 5%;
    line-height: 100px;
}

.divDone{
    background-color: black;
    width: 100%;
    border-radius: 50% 50% 0 0px;
    height: 10vh;
}
.divDone2{
    background-color: black;
    width: 100%;
    border-radius: 0 0 50% 50%;
    height: 10vh;
}

.imgInfoContent{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgInfoContent img{
    width: 40%;
}


@media (max-width: 768px) {


    .PrincipalImg img{
        width: 100%;
    }

    .buttonVer{
        position: absolute;
        top: 20%;
        left: 75%;
    }
    
.PrincipalSearch{
    position: relative;
}    

.searchInput{
    position: relative;
}

.searchInput input{
    display: flex;
    align-items: center;
    margin-left: -35%;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 10%;
    padding-left: 5%;
}

.searchSelect{
    left: 75%;
}

.imgInfoContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.imgInfoContent img{
    width: 100%;
}

.nav__wrapper{
    width: 100vw;
    z-index: 1000;
}





}